In [36]:
from collections import defaultdict
import pandas as pd
from surprise import Reader, Dataset
from surprise import KNNWithMeans, KNNBasic, SVD
from surprise import accuracy
from surprise.model_selection import train_test_split, cross_validate

import matplotlib.pyplot as plt
import numpy as np
import json
import random

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity, pairwise_distances

In [37]:
class RefinedMyAlgo():
    def __init__(self, rating_data='', data_frame='', movie_data=''):
        if rating_data:
            reader = Reader(line_format='user item rating timestamp', sep=',')
            self.ratings = Dataset.load_from_file(rating_data, reader)
#             self.trainset, self.testset = train_test_split(self.ratings, test_size=0.25)
            self.trainset = self.ratings.build_full_trainset()
            self.sim_options = {'name': 'cosine','user_based': False}
            self.df_ratings = pd.read_csv(rating_data, low_memory=False, names=['userId', 'movieId', 'rating','timestamp'])
        elif not data_frame.empty:
            reader = Reader(rating_scale=(0, 5))
            self.ratings = Dataset.load_from_df(data_frame[['userId', 'movieId', 'rating']], reader)
            self.trainset = self.ratings.build_full_trainset()
            self.sim_options = {'name': 'cosine','user_based': False}
            
        if movie_data:
            self.movies = pd.read_csv(movie_data, low_memory=False)
            self.movies['year'] = self.movies['title'].apply(lambda x: x[-5:-1])
            self.movies['title'] = self.movies['title'].apply(lambda x: x[:-7])
            self.movies['genres'] = self.movies['genres'].apply(lambda x: x.replace('|',', '))
            
    
    def random_group(self, n):
        self.users_list = list(self.df_ratings['userId'])
        random_group = random.sample(self.users_list,n)
        return random_group
        

        
    def set_k(self, k_value=''):
        if k_value:
            algo = KNNWithMeans(k=k_value, sim_options=self.sim_options)
            self.algo = algo
            self.algo.fit(self.trainset)
        else:
            algo = SVD()
            self.algo = algo
            self.algo.fit(self.trainset)
        
        
    def find_best_k(self, k_value=''):
        if k_value:
            print('K = {}'.format(k_value))
            algo = KNNWithMeans(k=k_value, sim_options=self.sim_options)
            return cross_validate(algo, self.ratings, measures=['RMSE', 'MAE'], cv=10, verbose=True)
        else:
            aux = []
            for k_value in [3, 5, 7, 10, 15, 20, 30, 40]:
                print('K = {}'.format(k_value))
                algo = KNNWithMeans(k=k_value, sim_options=self.sim_options)
                my_dict = cross_validate(algo, self.ratings, measures=['RMSE', 'MAE'], cv=10, verbose=False)
                my_dict['k_value'] = k_value
                aux.append(my_dict)
            return aux
    
    
    def set_testset(self, users):
        if users:
            user_ratings = self.trainset.ur
            movies_ids = list(self.movies['movieId'])
            global_mean=self.trainset.global_mean
            my_testset = []
            
            for user in users:
                iuid = self.trainset.to_inner_uid(str(user))
                for movie in movies_ids:
                    is_in = False
                    for rating in user_ratings[iuid]:
#                         print( 'MOVIE: {}, RATING: {}'.format(movie,bla.trainset.to_raw_iid(rating[0])) )
                        if int(movie) == int(self.trainset.to_raw_iid(int(rating[0]))):
                            is_in = True
                            break
                    if not is_in:
                        my_tuple = (str(user),str(movie),global_mean)
                        my_testset.append(my_tuple)
                        
            self.testset = my_testset
        else:
            testset = self.trainset.build_anti_testset()
            self.testset = testset
        return self.testset


    def predict_ratings(self,users=''):
        # # Predict ratings for all pairs (u, i) that are NOT in the training set.
#         testset = self.trainset.build_anti_testset()
#         self.testset = testset
        testset = self.set_testset(users)
        predictions = self.algo.test(testset)
        self.predictions = predictions
        
        
    def set_perfil_movies(self, users):
        metadata = pd.read_csv('ml-latest-small/ratings.csv', low_memory=False, names=['userId', 'movieId', 'rating','timestamp'])
        metadata = metadata.drop(columns="timestamp")

        metadata_filtered = metadata[metadata.userId.isin(users)]

        self.group_sparse_mtx = pd.pivot_table(metadata_filtered, values='rating', index=['userId'], columns=['movieId'], fill_value=0)
        
        self.perfil_movies = list(self.group_sparse_mtx)
        
    
    ### You must call self.set_perfil_movies() before
    def set_candidate_movies(self):
        candidate_movies = []
        for item in refinedMyAlgo.movies.iterrows():
        #     get the movieId of each movie in movies dataframe
            if item[1].values[0] not in self.perfil_movies:
                candidate_movies.append(item[1].values[0])
        self.candidate_movies = candidate_movies
        
        
    def calc_similarity_matrix(self):
        #Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
        tfidf = TfidfVectorizer(stop_words='english')
        
        #Replace NaN with an empty string
        self.movies['title'] = self.movies['title'].fillna('')
        self.movies['genres'] = self.movies['genres'].fillna('')
        
        #Construct the required TF-IDF matrix by fitting and transforming the data
        tfidf_matrix_title = tfidf.fit_transform(self.movies['title'])
        tfidf_matrix_genres = tfidf.fit_transform(self.movies['genres'])
        
        #Compute the cosine similarity matrix
        self.cosine_sim_movies_title = cosine_similarity(tfidf_matrix_title, tfidf_matrix_title)
        self.cosine_sim_movies_genres = cosine_similarity(tfidf_matrix_genres, tfidf_matrix_genres)
        
        
    def get_similar_movies(self, references, title_weight=0.8):
        recs = []
        for movie in references:
            # Get the pairwsie similarity scores of all movies with that movie
            movie_idx = int(self.movies[self.movies['movieId']==movie['movieID']].index[0])
            sim_scores_title = list(enumerate(self.cosine_sim_movies_title[movie_idx]))
            sim_scores_genres = list(enumerate(self.cosine_sim_movies_genres[movie_idx]))
            
            # Calculate total similarity based on title and genres
            total_sim_score = []
            for i in range(len(sim_scores_title)):
#                 print("sim_score_title= {}\t sim_score_genres= {}".format(sim_scores_title[i][1], sim_scores_genres[i][1]))
                aux = (sim_scores_title[i][1]*title_weight) + (sim_scores_genres[i][1]*(1-title_weight))
                total_sim_score.append((i, aux))
#                 print("sim_score_total= {}".format(total_sim_score))
                
            # Sort the movies based on the similarity scores
            total_sim_score = sorted(total_sim_score, key=lambda x: x[1], reverse=True)
            self.total_sim_score = total_sim_score
            
            candidates_sim_score = []
            for item in total_sim_score:
                if self.movies.loc[item[0]].values[0] not in self.perfil_movies:
                    candidates_sim_score.append(item)
            
            # Get the scores of the 10 most similar movies
            candidates_sim_score = candidates_sim_score[1:11]
            
            recs.append(candidates_sim_score)
            
        return recs
    
    
    def get_relevance_score(self, recs, references):
        count = 0
        recs_dict = []
        for reference in references:
        #     print('Referência: {}\t gêneros: {}'.format(refinedMyAlgo.movies[refinedMyAlgo.movies['movieId']==reference['movieID']].values[0][1], refinedMyAlgo.movies[refinedMyAlgo.movies['movieId']==reference['movieID']].values[0][2]))

            for movie in recs[count]:
                aux = {}

                movie_id = self.movies.loc[movie[0]].values[0]
                movie_title = self.movies.loc[movie[0]].values[1]
                movie_genres = self.movies.loc[movie[0]].values[2]
                movie_similarity = movie[1]
                movie_relevance = round(((reference['rating']/5.0)+movie_similarity)/2, 3)

                aux['movie_id'] = movie_id
                aux['movie_title'] = movie_title
                aux['movie_genres'] = movie_genres
                aux['movie_similarity'] = movie_similarity
                aux['movie_relevance'] = movie_relevance

                recs_dict.append(aux)

        #         print('\tSim: {},\trelevance: {},\tmovieId: {},\ttitle: {}'.format(aux['movie_similarity'], aux['movie_relevance'], aux['movie_id'], aux['movie_title']))

            count=count+1

        recs_dict = sorted(recs_dict, key = lambda i: i['movie_relevance'],reverse=True)

        return recs_dict
    
    
    def calc_distance_item_in_list(self, item, this_list, title_weight=0.8):

        idx_i = int(self.movies[self.movies['movieId']==item['movie_id']].index[0])

        total_dist = 0
        for movie in this_list:
            
            idx_j = int(self.movies[self.movies['movieId']==int(movie['movie_id'])].index[0])

            sim_i_j = (self.cosine_sim_movies_title[idx_i][idx_j]*title_weight) + (self.cosine_sim_movies_genres[idx_i][idx_j]*(1-title_weight))
            dist_i_j = 1 - sim_i_j
            total_dist = total_dist + dist_i_j

        result = total_dist/len(this_list)
        return result
    
    
    def calc_diversity_score(self, actual_list, candidates_list, alfa=0.5):
        '''
        This function implemented here was based on MARIUS KAMINSKAS and DEREK BRIDGE paper: Diversity, Serendipity, Novelty, and Coverage: A Survey and Empirical Analysis of Beyond-Accuracy Objectives in Recommender Systems
        func(i,R) = (relevance[i]*alfa) + (dist_i_R(i,R)*(1-alfa))
        '''
        diversity_score = []
        count = 0

        for item in candidates_list:

            aux = {}
            dist_item_R = self.calc_distance_item_in_list(item=item, this_list=actual_list)
            aux['div_score'] = (item['movie_relevance']*alfa) + (dist_item_R*(1-alfa))
            aux['idx'] = count
            diversity_score.append(aux)
            count = count + 1

        return diversity_score
    
    
    def diversify_recs_list(self, recs, n=10):
        '''
        This function implemented here was based on MARIUS KAMINSKAS and DEREK BRIDGE paper: Diversity, Serendipity, Novelty, and Coverage: A Survey and Empirical Analysis of Beyond-Accuracy Objectives in Recommender Systems
        The Greedy Reranking Algorithm.
        '''
        diversified_list = []
        
        while len(diversified_list) < n:
            if len(diversified_list) == 0:
                diversified_list.append(recs[0])
                recs.pop(0)
            else:
                diversity_score = self.calc_diversity_score(actual_list=diversified_list, candidates_list=recs)
                diversity_score = sorted(diversity_score, key = lambda i: i['div_score'],reverse=True)
#               #  Add the item that maximize diversity in the list 
                item = diversity_score[0]
                diversified_list.append(recs[item['idx']])
#               #  Remove this item from the candidates list
                recs.pop(item['idx'])
    
        return diversified_list
                
        
#     def get_ILS(self, final_recs, title_weight=0.8):
#         big_list = []
#         for i in final_recs:
#             movie_idx_i = int(self.movies[self.movies['movieId']==i['movie_id']].index[0])
#             small_list = []
#             for j in final_recs:
#                 movie_idx_j = int(self.movies[self.movies['movieId']==j['movie_id']].index[0])
#                 sim_genre = self.cosine_sim_movies_genres[movie_idx_i][movie_idx_j]
#                 sim_title = self.cosine_sim_movies_title[movie_idx_i][movie_idx_j]
#                 total_sim = (sim_title*title_weight) + (sim_genre*(1-title_weight))
#                 small_list.append(total_sim)
#             big_list.append(small_list)

#         return big_list

    def calc_dist_i_j(self, idx_i, idx_j, title_weight=0.8):
        sim_genre = self.cosine_sim_movies_genres[movie_idx_i][movie_idx_j]
        sim_title = self.cosine_sim_movies_title[movie_idx_i][movie_idx_j]
        total_sim = (sim_title*title_weight) + (sim_genre*(1-title_weight))
        dist_score = 1 - total_sim

        return dist_score
    
    
    def get_distance_matrix(self, final_recs, title_weight=0.8):
        dist_matrix = []
        for i in final_recs:
            aux = []
            movie_idx_i = int(self.movies[self.movies['movieId']==i['movie_id']].index[0])
            for j in final_recs:
                movie_idx_j = int(self.movies[self.movies['movieId']==j['movie_id']].index[0])
                dist_i_j = self.calc_dist_i_j(movie_idx_i, movie_idx_j, title_weight=0.8)
                aux.append(dist_i_j)
            dist_matrix.append(aux)
            
        return dist_matrix
    
    def get_ILD_score(self, final_recs, title_weight=0.8):
        dist_matrix = self.get_distance_matrix(final_recs, title_weight=0.8)
        np_dist_mtx = np.array(dist_matrix)
        upper_right = np.triu_indices(np_dist_mtx.shape[0], k=1)

        ild_score = np.mean(np_mtx[upper_right])
        
        return ild_score

In [38]:
refinedMyAlgo = RefinedMyAlgo(rating_data='ml-latest-small/ratings.csv', movie_data='ml-latest-small/movies.csv')
refinedMyAlgo.set_k()

In [49]:
# print(refinedMyAlgo.random_group(3))

In [4]:
# # # FIXED GROUP
# my_group = [77,596,452,243,420]

# # # RANDOM GROUP
my_group = refinedMyAlgo.random_group(5)

refinedMyAlgo.predict_ratings(users=my_group)
len(refinedMyAlgo.predictions)

47891

In [5]:
# metadata = pd.read_csv('ml-latest-small/ratings.csv', low_memory=False, names=['userId', 'movieId', 'rating','timestamp'])
# metadata = metadata.drop(columns="timestamp")

# metadata_filtered = metadata[metadata.userId.isin(my_group)]

# my_group_sparse = pd.pivot_table(metadata_filtered, values='rating', index=['userId'], columns=['movieId'], fill_value=0)
# my_group_sparse.head()

refinedMyAlgo.set_perfil_movies(users=my_group)
refinedMyAlgo.set_candidate_movies()

# print(refinedMyAlgo.perfil_movies)
# print(refinedMyAlgo.candidate_movies)
refinedMyAlgo.group_sparse_mtx.head()

movieId,1,10,32,34,36,39,44,47,48,50,...,176101,177763,178615,179401,179819,181719,182793,183635,184997,188301
userId,,,,,,,,,,,,,,,,,,,,,
77,0,0,0.0,0,0,0,0,0,0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0
243,0,5,0.0,0,4,0,4,0,4,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0
420,4,0,3.5,0,0,0,0,0,0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0
452,0,4,0.0,0,0,0,4,5,0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0
596,4,0,3.5,4,0,4,0,0,0,3.5,...,2.5,3.5,3.5,4,3.5,3.5,3.5,3.5,4,4

In [6]:
group_filled_mtx = refinedMyAlgo.group_sparse_mtx.copy()

for index, row in group_filled_mtx.iterrows():
    for col in list(group_filled_mtx):
        if(group_filled_mtx.loc[index,col] == 0.0):
            aux = list(filter(lambda x: x.uid==str(index) and x.iid==str(col), refinedMyAlgo.predictions))
            group_filled_mtx.loc[index,col] = aux[0].est

group_filled_mtx = group_filled_mtx.round(decimals=3)
group_filled_mtx.head()

movieId,1,10,32,34,36,39,44,47,48,50,...,176101,177763,178615,179401,179819,181719,182793,183635,184997,188301
userId,,,,,,,,,,,,,,,,,,,,,
77,3.722,3.799,3.922,3.620,3.609,3.655,2.816,4.176,3.165,4.135,...,3.326,3.412,3.653,3.695,3.161,3.591,3.814,3.493,3.588,3.551
243,4.699,5.000,4.776,4.502,4.000,4.241,4.000,4.672,4.000,5.000,...,4.015,4.307,4.210,4.366,4.087,4.163,4.320,4.185,4.256,4.266
420,4.000,3.527,3.500,3.831,4.168,3.449,2.655,4.156,3.357,4.297,...,3.296,3.417,3.597,3.626,3.243,3.713,3.461,3.463,3.681,3.734
452,4.676,4.000,4.553,4.305,4.626,4.629,4.000,5.000,4.117,5.000,...,4.228,4.325,4.590,4.518,4.138,4.293,4.469,4.365,4.747,4.392
596,4.000,3.300,3.500,4.000,3.530,4.000,2.890,3.741,3.020,3.500,...,2.500,3.500,3.500,4.000,3.500,3.500,3.500,3.500,4.000,4.000

In [7]:
########################################################################
# # Implementing LEAST MISERY ending-up in a dataframe
########################################################################
values = []
labels = []
for i in range(0,len(list(group_filled_mtx))):
    my_col = group_filled_mtx.iloc[ : ,i]
    label = my_col.name
    my_col = list(my_col)
    
    labels.append(label)
    values.append( float(min(my_col)) )
    
# print('Array values: {}, Array labels: {}'.format(values, labels))
agg_group_perf = pd.DataFrame(index=[900], columns=labels)

for i in range(0,len(list(agg_group_perf))):
    agg_group_perf.iloc[0, i] = values[i]

    
agg_group_perf = agg_group_perf.round(decimals=3)
agg_group_perf.head()

,1,10,32,34,36,39,44,47,48,50,...,176101,177763,178615,179401,179819,181719,182793,183635,184997,188301
900,3.745,3.344,3.5,3.652,3.647,3.422,2.706,3.997,3.123,3.5,...,2.5,3.251,3.5,3.701,3.173,3.5,3.339,3.5,3.358,3.579

In [ ]:
########################################################################
# # Implementing MOST PLEASURE ending-up in a dataframe
########################################################################
values = []
labels = []
for i in range(0,len(list(group_filled_mtx))):
    my_col = group_filled_mtx.iloc[ : ,i]
    label = my_col.name
    my_col = list(my_col)
    
    labels.append(label)
    values.append( float(max(my_col)) )
    
# print('Array values: {}, Array labels: {}'.format(values, labels))
agg_group_perf = pd.DataFrame(index=[900], columns=labels)

for i in range(0,len(list(agg_group_perf))):
    agg_group_perf.iloc[0, i] = values[i]

    
agg_group_perf = agg_group_perf.round(decimals=3)
agg_group_perf.head()

In [7]:
########################################################################
# # Implementing AVERAGE WITHOUT MISERY: treshold=2  ending-up in a dataframe
########################################################################
values = []
labels = []
for i in range(0,len(list(group_filled_mtx))):
    my_col = group_filled_mtx.iloc[ : ,i]
    label = my_col.name
    my_col = list(my_col)
    
    labels.append(label)
    if float(min(my_col)) <= 2 :
        values.append( float(min(my_col)) )
    else:
        values.append( float( sum(my_col) / len(my_col) ) )
    
# print('Array values: {}, Array labels: {}'.format(values, labels))
agg_group_perf = pd.DataFrame(index=[900], columns=labels)

for i in range(0,len(list(agg_group_perf))):
    agg_group_perf.iloc[0, i] = values[i]

    
agg_group_perf = agg_group_perf.round(decimals=3)
agg_group_perf.head()

,1,10,32,34,36,39,44,47,48,50,...,176101,177763,178615,179401,179819,181719,182793,183635,184997,188301
900,4.2194,3.9252,4.0502,4.0516,3.9866,3.9948,3.2722,4.349,3.5318,4.3864,...,3.473,3.7922,3.91,4.041,3.6258,3.852,3.9128,3.8012,4.0544,3.9886

In [8]:
group_pref_dict = []
for col in list(agg_group_perf):
    my_dict = {}
#     print('Valor: {}, Coluna: {}'.format(agg_group_perf.loc[900,col], col))
    my_dict['rating'] = agg_group_perf.loc[900,col]
    my_dict['movieID'] = col
    group_pref_dict.append(my_dict)
    
group_pref_dict = sorted(group_pref_dict, key = lambda i: i['rating'],reverse=True)
group_pref_dict

[{'rating': 4.6498, 'movieID': 260},
 {'rating': 4.647, 'movieID': 57669},
 {'rating': 4.6454, 'movieID': 4993},
 {'rating': 4.6452, 'movieID': 168252},
 {'rating': 4.6442, 'movieID': 1136},
 {'rating': 4.643, 'movieID': 2571},
 {'rating': 4.6292, 'movieID': 58559},
 {'rating': 4.622, 'movieID': 904},
 {'rating': 4.617, 'movieID': 38061},
 {'rating': 4.5944, 'movieID': 318},
 {'rating': 4.587999999999999, 'movieID': 5971},
 {'rating': 4.57, 'movieID': 3275},
 {'rating': 4.563599999999999, 'movieID': 7153},
 {'rating': 4.5536, 'movieID': 3000},
 {'rating': 4.5476, 'movieID': 51255},
 {'rating': 4.5424, 'movieID': 1198},
 {'rating': 4.534000000000001, 'movieID': 3996},
 {'rating': 4.519799999999999, 'movieID': 31658},
 {'rating': 4.5162, 'movieID': 750},
 {'rating': 4.516, 'movieID': 1196},
 {'rating': 4.513, 'movieID': 60069},
 {'rating': 4.5118, 'movieID': 1222},
 {'rating': 4.5036000000000005, 'movieID': 5618},
 {'rating': 4.5016, 'movieID': 5952},
 {'rating': 4.5008, 'movieID': 44555},
 {'rating': 4.5, 'movieID': 899},
 {'rating': 4.4884, 'movieID': 1617},
 {'rating': 4.487399999999999, 'movieID': 8961},
 {'rating': 4.4826, 'movieID': 910},
 {'rating': 4.4826, 'movieID': 1089},
 {'rating': 4.4818, 'movieID': 76093},
 {'rating': 4.4774, 'movieID': 2288},
 {'rating': 4.4748, 'movieID': 4011},
 {'rating': 4.469199999999999, 'movieID': 608},
 {'rating': 4.462400000000001, 'movieID': 122916},
 {'rating': 4.4597999999999995, 'movieID': 2329},
 {'rating': 4.458, 'movieID': 6807},
 {'rating': 4.4542, 'movieID': 6350},
 {'rating': 4.4525999999999994, 'movieID': 2160},
 {'rating': 4.4466, 'movieID': 2028},
 {'rating': 4.4466, 'movieID': 142488},
 {'rating': 4.4458, 'movieID': 1203},
 {'rating': 4.4364, 'movieID': 1193},
 {'rating': 4.4362, 'movieID': 593},
 {'rating': 4.4336, 'movieID': 3147},
 {'rating': 4.4284, 'movieID': 33794},
 {'rating': 4.4268, 'movieID': 122882},
 {'rating': 4.4244, 'movieID': 1704},
 {'rating': 4.4236, 'movieID': 110102},
 {'rating': 4.4201999999999995, 'movieID': 1210},
 {'rating': 4.418, 'movieID': 2959},
 {'rating': 4.417400000000001, 'movieID': 1356},
 {'rating': 4.4154, 'movieID': 3703},
 {'rating': 4.4002, 'movieID': 8874},
 {'rating': 4.3982, 'movieID': 34405},
 {'rating': 4.3952, 'movieID': 364},
 {'rating': 4.3934, 'movieID': 1387},
 {'rating': 4.3915999999999995, 'movieID': 96821},
 {'rating': 4.3894, 'movieID': 48780},
 {'rating': 4.3866, 'movieID': 134853},
 {'rating': 4.3864, 'movieID': 50},
 {'rating': 4.3864, 'movieID': 122926},
 {'rating': 4.3862000000000005, 'movieID': 6377},
 {'rating': 4.3834, 'movieID': 1197},
 {'rating': 4.3832, 'movieID': 110},
 {'rating': 4.3762, 'movieID': 167746},
 {'rating': 4.372999999999999, 'movieID': 3213},
 {'rating': 4.372, 'movieID': 78499},
 {'rating': 4.3678, 'movieID': 111759},
 {'rating': 4.365, 'movieID': 858},
 {'rating': 4.3542000000000005, 'movieID': 1240},
 {'rating': 4.354, 'movieID': 166528},
 {'rating': 4.3522, 'movieID': 2692},
 {'rating': 4.348999999999999, 'movieID': 47},
 {'rating': 4.3406, 'movieID': 1028},
 {'rating': 4.3346, 'movieID': 1206},
 {'rating': 4.3342, 'movieID': 70286},
 {'rating': 4.3338, 'movieID': 122886},
 {'rating': 4.33, 'movieID': 1259},
 {'rating': 4.326600000000001, 'movieID': 91529},
 {'rating': 4.3258, 'movieID': 56367},
 {'rating': 4.325799999999999, 'movieID': 5903},
 {'rating': 4.3252, 'movieID': 1208},
 {'rating': 4.323200000000001, 'movieID': 2186},
 {'rating': 4.3212, 'movieID': 48394},
 {'rating': 4.319, 'movieID': 134130},
 {'rating': 4.3164, 'movieID': 1374},
 {'rating': 4.3162, 'movieID': 33649},
 {'rating': 4.3153999999999995, 'movieID': 1394},
 {'rating': 4.3134, 'movieID': 6502},
 {'rating': 4.3132, 'movieID': 4306},
 {'rating': 4.3082, 'movieID': 1035},
 {'rating': 4.3076, 'movieID': 112852},
 {'rating': 4.3046, 'movieID': 919},
 {'rating': 4.3042, 'movieID': 2502},
 {'rating': 4.3031999999999995, 'movieID': 5608},
 {'rating': 4.3024000000000004, 'movieID': 1221},
 {'rating': 4.3018, 'movieID': 5816},
 {'rating': 4.3, 'movieID': 46578},
 {'rating': 4.296200000000001, 'movieID': 5444},
 {'rating': 4.2942, 'movieID': 5902},
 {'rating': 4.2936, 'movieID': 1192},
 {'rating': 4.2936, 'movieID': 122918},
 {'rating': 4.2934, 'movieID': 81834},
 {'rating': 4.2905999999999995, 'movieID': 5669},
 {'rating': 4.2898000000000005, 'movieID': 115149},
 {'rating': 4.2872, 'movieID': 1079},
 {'rating': 4.2852, 'movieID': 3967},
 {'rating': 4.2838, 'movieID': 7156},
 {'rating': 4.2826, 'movieID': 81845},
 {'rating': 4.2796, 'movieID': 68954},
 {'rating': 4.2796, 'movieID': 122906},
 {'rating': 4.2794, 'movieID': 44191},
 {'rating': 4.276999999999999, 'movieID': 1175},
 {'rating': 4.2756, 'movieID': 122912},
 {'rating': 4.2644, 'movieID': 27611},
 {'rating': 4.264, 'movieID': 2762},
 {'rating': 4.2638, 'movieID': 54995},
 {'rating': 4.2628, 'movieID': 1281},
 {'rating': 4.261, 'movieID': 7147},
 {'rating': 4.2604, 'movieID': 6104},
 {'rating': 4.2602, 'movieID': 1343},
 {'rating': 4.2585999999999995, 'movieID': 1748},
 {'rating': 4.257600000000001, 'movieID': 1997},
 {'rating': 4.256600000000001, 'movieID': 68358},
 {'rating': 4.2564, 'movieID': 1080},
 {'rating': 4.2562, 'movieID': 43376},
 {'rating': 4.2538, 'movieID': 296},
 {'rating': 4.2508, 'movieID': 6333},
 {'rating': 4.25, 'movieID': 97913},
 {'rating': 4.2488, 'movieID': 8636},
 {'rating': 4.2438, 'movieID': 1653},
 {'rating': 4.242999999999999, 'movieID': 1046},
 {'rating': 4.242, 'movieID': 2791},
 {'rating': 4.2410000000000005, 'movieID': 4002},
 {'rating': 4.2384, 'movieID': 1376},
 {'rating': 4.2376, 'movieID': 74458},
 {'rating': 4.235999999999999, 'movieID': 1663},
 {'rating': 4.2354, 'movieID': 457},
 {'rating': 4.2338000000000005, 'movieID': 69844},
 {'rating': 4.2328, 'movieID': 115617},
 {'rating': 4.2286, 'movieID': 122904},
 {'rating': 4.2272, 'movieID': 3552},
 {'rating': 4.2258, 'movieID': 2115},
 {'rating': 4.223999999999999, 'movieID': 56251},
 {'rating': 4.2228, 'movieID': 73017},
 {'rating': 4.2196, 'movieID': 1097},
 {'rating': 4.2194, 'movieID': 1},
 {'rating': 4.2194, 'movieID': 54881},
 {'rating': 4.218999999999999, 'movieID': 923},
 {'rating': 4.215999999999999, 'movieID': 152081},
 {'rating': 4.2158, 'movieID': 541},
 {'rating': 4.2142, 'movieID': 2700},
 {'rating': 4.212999999999999, 'movieID': 80549},
 {'rating': 4.2118, 'movieID': 1912},
 {'rating': 4.211, 'movieID': 68157},
 {'rating': 4.2082, 'movieID': 2871},
 {'rating': 4.2058, 'movieID': 6874},
 {'rating': 4.2058, 'movieID': 109487},
 {'rating': 4.204600000000001, 'movieID': 3535},
 {'rating': 4.2016, 'movieID': 1219},
 {'rating': 4.1994, 'movieID': 4995},
 {'rating': 4.1975999999999996, 'movieID': 4855},
 {'rating': 4.1954, 'movieID': 54001},
 {'rating': 4.1936, 'movieID': 96737},
 {'rating': 4.191800000000001, 'movieID': 7022},
 {'rating': 4.1914, 'movieID': 4720},
 {'rating': 4.191000000000001, 'movieID': 1131},
 {'rating': 4.189, 'movieID': 1200},
 {'rating': 4.186, 'movieID': 2657},
 {'rating': 4.1850000000000005, 'movieID': 353},
 {'rating': 4.1848, 'movieID': 3578},
 {'rating': 4.1828, 'movieID': 2396},
 {'rating': 4.1812, 'movieID': 1132},
 {'rating': 4.180999999999999, 'movieID': 44974},
 {'rating': 4.179, 'movieID': 1641},
 {'rating': 4.179, 'movieID': 6942},
 {'rating': 4.1788, 'movieID': 4896},
 {'rating': 4.1706, 'movieID': 1036},
 {'rating': 4.17, 'movieID': 93510},
 {'rating': 4.1668, 'movieID': 37729},
 {'rating': 4.1659999999999995, 'movieID': 171917},
 {'rating': 4.1655999999999995, 'movieID': 102125},
 {'rating': 4.1634, 'movieID': 66934},
 {'rating': 4.1606, 'movieID': 5991},
 {'rating': 4.1584, 'movieID': 356},
 {'rating': 4.1584, 'movieID': 5349},
 {'rating': 4.1576, 'movieID': 4342},
 {'rating': 4.1532, 'movieID': 119145},
 {'rating': 4.1530000000000005, 'movieID': 87232},
 {'rating': 4.151999999999999, 'movieID': 3114},
 {'rating': 4.151999999999999, 'movieID': 8665},
 {'rating': 4.151, 'movieID': 1258},
 {'rating': 4.1494, 'movieID': 135569},
 {'rating': 4.148999999999999, 'movieID': 49272},
 {'rating': 4.1476, 'movieID': 31410},
 {'rating': 4.1448, 'movieID': 4027},
 {'rating': 4.1424, 'movieID': 62},
 {'rating': 4.1408000000000005, 'movieID': 1732},
 {'rating': 4.1406, 'movieID': 527},
 {'rating': 4.1404000000000005, 'movieID': 337},
 {'rating': 4.139200000000001, 'movieID': 57640},
 {'rating': 4.1352, 'movieID': 60684},
 {'rating': 4.1346, 'movieID': 1307},
 {'rating': 4.1328000000000005, 'movieID': 88125},
 {'rating': 4.1322, 'movieID': 149406},
 {'rating': 4.132, 'movieID': 122900},
 {'rating': 4.130999999999999, 'movieID': 3527},
 {'rating': 4.130599999999999, 'movieID': 1968},
 {'rating': 4.130599999999999, 'movieID': 4128},
 {'rating': 4.1293999999999995, 'movieID': 581},
 {'rating': 4.129, 'movieID': 1275},
 {'rating': 4.126, 'movieID': 69},
 {'rating': 4.1236, 'movieID': 114028},
 {'rating': 4.1232, 'movieID': 2194},
 {'rating': 4.123, 'movieID': 98243},
 {'rating': 4.122400000000001, 'movieID': 59315},
 {'rating': 4.1213999999999995, 'movieID': 8464},
 {'rating': 4.1198, 'movieID': 71535},
 {'rating': 4.1192, 'movieID': 161},
 {'rating': 4.1192, 'movieID': 2763},
 {'rating': 4.1186, 'movieID': 111362},
 {'rating': 4.1176, 'movieID': 1291},
 {'rating': 4.1175999999999995, 'movieID': 54259},
 {'rating': 4.1168, 'movieID': 4226},
 {'rating': 4.1156, 'movieID': 62956},
 {'rating': 4.1134, 'movieID': 1584},
 {'rating': 4.112, 'movieID': 3052},
 {'rating': 4.1114, 'movieID': 648},
 {'rating': 4.11, 'movieID': 2716},
 {'rating': 4.109, 'movieID': 6539},
 {'rating': 4.1082, 'movieID': 33004},
 {'rating': 4.108, 'movieID': 1517},
 {'rating': 4.1064, 'movieID': 4262},
 {'rating': 4.106, 'movieID': 508},
 {'rating': 4.1058, 'movieID': 89745},
 {'rating': 4.1058, 'movieID': 168026},
 {'rating': 4.1056, 'movieID': 66097},
 {'rating': 4.1054, 'movieID': 2947},
 {'rating': 4.1042000000000005, 'movieID': 6936},
 {'rating': 4.1034, 'movieID': 40815},
 {'rating': 4.102799999999999, 'movieID': 1954},
 {'rating': 4.1026, 'movieID': 32587},
 {'rating': 4.1016, 'movieID': 4308},
 {'rating': 4.0998, 'movieID': 2081},
 {'rating': 4.0994, 'movieID': 2501},
 {'rating': 4.099200000000001, 'movieID': 165},
 {'rating': 4.098000000000001, 'movieID': 71057},
 {'rating': 4.0968, 'movieID': 91542},
 {'rating': 4.0938, 'movieID': 2819},
 {'rating': 4.0936, 'movieID': 2858},
 {'rating': 4.090999999999999, 'movieID': 138036},
 {'rating': 4.0884, 'movieID': 79091},
 {'rating': 4.088, 'movieID': 3476},
 {'rating': 4.0878, 'movieID': 3462},
 {'rating': 4.0864, 'movieID': 96281},
 {'rating': 4.0854, 'movieID': 150},
 {'rating': 4.0847999999999995, 'movieID': 107406},
 {'rating': 4.084, 'movieID': 59667},
 {'rating': 4.082800000000001, 'movieID': 79132},
 {'rating': 4.0794, 'movieID': 1270},
 {'rating': 4.0784, 'movieID': 3094},
 {'rating': 4.0774, 'movieID': 1265},
 {'rating': 4.0768, 'movieID': 1127},
 {'rating': 4.0732, 'movieID': 2949},
 {'rating': 4.0732, 'movieID': 108932},
 {'rating': 4.0718000000000005, 'movieID': 2918},
 {'rating': 4.066599999999999, 'movieID': 3307},
 {'rating': 4.0658, 'movieID': 143355},
 {'rating': 4.062, 'movieID': 80463},
 {'rating': 4.0618, 'movieID': 8641},
 {'rating': 4.058999999999999, 'movieID': 96588},
 {'rating': 4.0588, 'movieID': 128908},
 {'rating': 4.0582, 'movieID': 1907},
 {'rating': 4.0566, 'movieID': 1129},
 {'rating': 4.0566, 'movieID': 3793},
 {'rating': 4.054399999999999, 'movieID': 184997},
 {'rating': 4.054, 'movieID': 56757},
 {'rating': 4.0518, 'movieID': 1214},
 {'rating': 4.0516, 'movieID': 34},
 {'rating': 4.0516, 'movieID': 3159},
 {'rating': 4.0508, 'movieID': 79702},
 {'rating': 4.0502, 'movieID': 32},
 {'rating': 4.049799999999999, 'movieID': 88140},
 {'rating': 4.0496, 'movieID': 82459},
 {'rating': 4.0478, 'movieID': 98124},
 {'rating': 4.0474000000000006, 'movieID': 4014},
 {'rating': 4.0474000000000006, 'movieID': 51662},
 {'rating': 4.047, 'movieID': 2687},
 {'rating': 4.0464, 'movieID': 5218},
 {'rating': 4.046, 'movieID': 2600},
 {'rating': 4.0444, 'movieID': 81564},
 {'rating': 4.0443999999999996, 'movieID': 106696},
 {'rating': 4.0418, 'movieID': 111913},
 {'rating': 4.041200000000001, 'movieID': 112},
 {'rating': 4.0409999999999995, 'movieID': 179401},
 {'rating': 4.0392, 'movieID': 3175},
 {'rating': 4.0382, 'movieID': 589},
 {'rating': 4.037000000000001, 'movieID': 95167},
 {'rating': 4.0283999999999995, 'movieID': 27246},
 {'rating': 4.0282, 'movieID': 616},
 {'rating': 4.0272, 'movieID': 8337},
 {'rating': 4.0262, 'movieID': 1608},
 {'rating': 4.025799999999999, 'movieID': 1927},
 {'rating': 4.025, 'movieID': 7615},
 {'rating': 4.0242, 'movieID': 1466},
 {'rating': 4.022399999999999, 'movieID': 150548},
 {'rating': 4.0204, 'movieID': 47997},
 {'rating': 4.02, 'movieID': 73},
 {'rating': 4.018400000000001, 'movieID': 2278},
 {'rating': 4.0184, 'movieID': 2125},
 {'rating': 4.017799999999999, 'movieID': 1610},
 {'rating': 4.0174, 'movieID': 5292},
 {'rating': 4.0158000000000005, 'movieID': 8622},
 {'rating': 4.0144, 'movieID': 163639},
 {'rating': 4.013999999999999, 'movieID': 780},
 {'rating': 4.0128, 'movieID': 59549},
 {'rating': 4.0106, 'movieID': 2706},
 {'rating': 4.0104, 'movieID': 79798},
 {'rating': 4.0098, 'movieID': 2529},
 {'rating': 4.007, 'movieID': 99149},
 {'rating': 4.007, 'movieID': 133645},
 {'rating': 4.0062, 'movieID': 6870},
 {'rating': 4.006, 'movieID': 8577},
 {'rating': 4.004, 'movieID': 116823},
 {'rating': 4.003, 'movieID': 4886},
 {'rating': 4.0002, 'movieID': 5049},
 {'rating': 3.9995999999999996, 'movieID': 113280},
 {'rating': 3.9994, 'movieID': 59784},
 {'rating': 3.9983999999999993, 'movieID': 2000},
 {'rating': 3.9978000000000002, 'movieID': 5445},
 {'rating': 3.997, 'movieID': 122920},
 {'rating': 3.9968000000000004, 'movieID': 139644},
 {'rating': 3.995, 'movieID': 4963},
 {'rating': 3.9947999999999992, 'movieID': 39},
 {'rating': 3.9941999999999993, 'movieID': 2490},
 {'rating': 3.992, 'movieID': 2393},
 {'rating': 3.9910000000000005, 'movieID': 4571},
 {'rating': 3.9903999999999997, 'movieID': 96079},
 {'rating': 3.9886000000000004, 'movieID': 188301},
 {'rating': 3.9866000000000006, 'movieID': 36},
 {'rating': 3.9859999999999998, 'movieID': 122922},
 {'rating': 3.9828, 'movieID': 3994},
 {'rating': 3.9782, 'movieID': 98809},
 {'rating': 3.9781999999999997, 'movieID': 2683},
 {'rating': 3.9774000000000003, 'movieID': 1909},
 {'rating': 3.9770000000000003, 'movieID': 86332},
 {'rating': 3.9737999999999998, 'movieID': 90746},
 {'rating': 3.972, 'movieID': 111781},
 {'rating': 3.9718000000000004, 'movieID': 165639},
 {'rating': 3.9699999999999998, 'movieID': 3753},
 {'rating': 3.9693999999999994, 'movieID': 33903},
 {'rating': 3.9688000000000003, 'movieID': 45175},
 {'rating': 3.9684, 'movieID': 4022},
 {'rating': 3.9646, 'movieID': 135143},
 {'rating': 3.9644, 'movieID': 1573},
 {'rating': 3.9611999999999994, 'movieID': 102445},
 {'rating': 3.961, 'movieID': 3300},
 {'rating': 3.9589999999999996, 'movieID': 2890},
 {'rating': 3.9558, 'movieID': 30707},
 {'rating': 3.9556000000000004, 'movieID': 377},
 {'rating': 3.9556000000000004, 'movieID': 3698},
 {'rating': 3.9528000000000008, 'movieID': 26693},
 {'rating': 3.9524, 'movieID': 1721},
 {'rating': 3.9519999999999995, 'movieID': 125974},
 {'rating': 3.9506, 'movieID': 3081},
 {'rating': 3.95, 'movieID': 4816},
 {'rating': 3.9494, 'movieID': 1302},
 {'rating': 3.9486, 'movieID': 72998},
 {'rating': 3.9477999999999995, 'movieID': 70637},
 {'rating': 3.947, 'movieID': 1688},
 {'rating': 3.9448, 'movieID': 102903},
 {'rating': 3.9442, 'movieID': 54272},
 {'rating': 3.944, 'movieID': 2167},
 {'rating': 3.9400000000000004, 'movieID': 2407},
 {'rating': 3.94, 'movieID': 162350},
 {'rating': 3.9392000000000005, 'movieID': 2174},
 {'rating': 3.9366, 'movieID': 3559},
 {'rating': 3.9348, 'movieID': 39183},
 {'rating': 3.9348, 'movieID': 76251},
 {'rating': 3.9292000000000002, 'movieID': 42004},
 {'rating': 3.9288, 'movieID': 1416},
 {'rating': 3.928, 'movieID': 3082},
 {'rating': 3.9268, 'movieID': 8360},
 {'rating': 3.9252000000000002, 'movieID': 10},
 {'rating': 3.9232, 'movieID': 27020},
 {'rating': 3.9229999999999996, 'movieID': 111921},
 {'rating': 3.9206000000000003, 'movieID': 4973},
 {'rating': 3.9199999999999995, 'movieID': 3917},
 {'rating': 3.9194000000000004, 'movieID': 4979},
 {'rating': 3.9168, 'movieID': 68835},
 {'rating': 3.9166, 'movieID': 1220},
 {'rating': 3.9147999999999996, 'movieID': 4366},
 {'rating': 3.9132, 'movieID': 2989},
 {'rating': 3.9128, 'movieID': 182793},
 {'rating': 3.9126, 'movieID': 595},
 {'rating': 3.9118000000000004, 'movieID': 61323},
 {'rating': 3.9114000000000004, 'movieID': 40955},
 {'rating': 3.911, 'movieID': 3301},
 {'rating': 3.9104, 'movieID': 588},
 {'rating': 3.9099999999999993, 'movieID': 178615},
 {'rating': 3.9088000000000003, 'movieID': 87304},
 {'rating': 3.9082, 'movieID': 2841},
 {'rating': 3.9076, 'movieID': 1676},
 {'rating': 3.9046, 'movieID': 40870},
 {'rating': 3.9037999999999995, 'movieID': 5378},
 {'rating': 3.9034, 'movieID': 5464},
 {'rating': 3.9004, 'movieID': 55844},
 {'rating': 3.8985999999999996, 'movieID': 480},
 {'rating': 3.8977999999999993, 'movieID': 53125},
 {'rating': 3.8975999999999997, 'movieID': 3704},
 {'rating': 3.8974, 'movieID': 2311},
 {'rating': 3.8968000000000003, 'movieID': 43744},
 {'rating': 3.8966000000000003, 'movieID': 316},
 {'rating': 3.8966000000000003, 'movieID': 92954},
 {'rating': 3.893, 'movieID': 3545},
 {'rating': 3.8925999999999994, 'movieID': 3441},
 {'rating': 3.8922, 'movieID': 2094},
 {'rating': 3.8874000000000004, 'movieID': 3408},
 {'rating': 3.8861999999999997, 'movieID': 924},
 {'rating': 3.8802000000000008, 'movieID': 7700},
 {'rating': 3.8796, 'movieID': 176051},
 {'rating': 3.8774, 'movieID': 32799},
 {'rating': 3.874, 'movieID': 69495},
 {'rating': 3.8714, 'movieID': 2648},
 {'rating': 3.8694, 'movieID': 5418},
 {'rating': 3.8694, 'movieID': 30816},
 {'rating': 3.8692, 'movieID': 345},
 {'rating': 3.8676000000000004, 'movieID': 7260},
 {'rating': 3.8659999999999997, 'movieID': 1407},
 {'rating': 3.8635999999999995, 'movieID': 1375},
 {'rating': 3.8622, 'movieID': 141},
 {'rating': 3.8596000000000004, 'movieID': 1527},
 {'rating': 3.8589999999999995, 'movieID': 5963},
 {'rating': 3.857, 'movieID': 2640},
 {'rating': 3.8558, 'movieID': 736},
 {'rating': 3.8543999999999996, 'movieID': 1161},
 {'rating': 3.8520000000000003, 'movieID': 181719},
 {'rating': 3.8512, 'movieID': 2617},
 {'rating': 3.8457999999999997, 'movieID': 1616},
 {'rating': 3.845, 'movieID': 1620},
 {'rating': 3.844, 'movieID': 1801},
 {'rating': 3.8400000000000007, 'movieID': 380},
 {'rating': 3.8367999999999993, 'movieID': 4734},
 {'rating': 3.8335999999999997, 'movieID': 5265},
 {'rating': 3.8329999999999997, 'movieID': 40826},
 {'rating': 3.8322000000000003, 'movieID': 49530},
 {'rating': 3.8310000000000004, 'movieID': 2353},
 {'rating': 3.8299999999999996, 'movieID': 2707},
 {'rating': 3.8298, 'movieID': 141749},
 {'rating': 3.8278000000000008, 'movieID': 97752},
 {'rating': 3.8276000000000003, 'movieID': 2916},
 {'rating': 3.8248000000000006, 'movieID': 802},
 {'rating': 3.8238, 'movieID': 1961},
 {'rating': 3.822, 'movieID': 54286},
 {'rating': 3.8194000000000004, 'movieID': 552},
 {'rating': 3.8182, 'movieID': 32300},
 {'rating': 3.8153999999999995, 'movieID': 1917},
 {'rating': 3.8152, 'movieID': 64957},
 {'rating': 3.8147999999999995, 'movieID': 122892},
 {'rating': 3.8144000000000005, 'movieID': 6755},
 {'rating': 3.8142000000000005, 'movieID': 132454},
 {'rating': 3.8137999999999996, 'movieID': 2273},
 {'rating': 3.8094, 'movieID': 3786},
 {'rating': 3.8084000000000002, 'movieID': 6934},
 {'rating': 3.8066000000000004, 'movieID': 77561},
 {'rating': 3.8045999999999998, 'movieID': 33493},
 {'rating': 3.8028, 'movieID': 2021},
 {'rating': 3.8012, 'movieID': 183635},
 {'rating': 3.8006, 'movieID': 129397},
 {'rating': 3.7986000000000004, 'movieID': 3107},
 {'rating': 3.7950000000000004, 'movieID': 1687},

In [9]:
refinedMyAlgo.calc_similarity_matrix()

In [10]:
references = group_pref_dict[0:10]
# references = group_pref_dict

for item in references:
    print(item)
# print(references)

{'rating': 4.6498, 'movieID': 260}
{'rating': 4.647, 'movieID': 57669}
{'rating': 4.6454, 'movieID': 4993}
{'rating': 4.6452, 'movieID': 168252}
{'rating': 4.6442, 'movieID': 1136}
{'rating': 4.643, 'movieID': 2571}
{'rating': 4.6292, 'movieID': 58559}
{'rating': 4.622, 'movieID': 904}
{'rating': 4.617, 'movieID': 38061}
{'rating': 4.5944, 'movieID': 318}

In [11]:
# references=[904, 318, 38061, 31658, 57669]
recs = refinedMyAlgo.get_similar_movies(references)

In [12]:
# print(refinedMyAlgo.total_sim_score)

In [13]:
# amarelo = references
# vermelho = recs

# count = 0
# recs_dict = []
# for reference in amarelo:
# #     print('Referência: {}\t gêneros: {}'.format(refinedMyAlgo.movies[refinedMyAlgo.movies['movieId']==reference['movieID']].values[0][1], refinedMyAlgo.movies[refinedMyAlgo.movies['movieId']==reference['movieID']].values[0][2]))

#     for movie in vermelho[count]:
#         aux = {}

#         movie_id = refinedMyAlgo.movies.loc[movie[0]].values[0]
#         movie_title = refinedMyAlgo.movies.loc[movie[0]].values[1]
#         movie_genres = refinedMyAlgo.movies.loc[movie[0]].values[2]
#         movie_similarity = movie[1]
#         movie_relevance = ((reference['rating']/5.0)+movie_similarity)/2

#         aux['movie_id'] = movie_id
#         aux['movie_title'] = movie_title
#         aux['movie_genres'] = movie_genres
#         aux['movie_similarity'] = movie_similarity
#         aux['movie_relevance'] = movie_relevance

#         recs_dict.append(aux)

#         print('\tSim: {},\trelevance: {},\tmovieId: {},\ttitle: {}'.format(aux['movie_similarity'], aux['movie_relevance'], aux['movie_id'], aux['movie_title']))

#     count=count+1

# recs_dict = sorted(recs_dict, key = lambda i: i['movie_relevance'],reverse=True)

# print("@ @ @ @ @ @ @ @ @ @ @ @ @")
# recs_dict

In [12]:
candidates_list = refinedMyAlgo.get_relevance_score(recs=recs, references=references)
print(len(candidates_list))

for item in candidates_list[0:20]:
    print('relevance: {}, title:{}'.format(item['movie_relevance'], item['movie_title']))

100
relevance: 0.763, title:Batman: The Dark Knight Returns, Part 2
relevance: 0.759, title:Logan Lucky
relevance: 0.744, title:Cry in the Dark, A
relevance: 0.744, title:Last Kiss, The
relevance: 0.742, title:Big Bang, The
relevance: 0.733, title:Alone in the Dark
relevance: 0.731, title:Knight and Day
relevance: 0.72, title:Kiss of Death
relevance: 0.706, title:Undisputed III: Redemption
relevance: 0.702, title:Black Knight
relevance: 0.7, title:Dark Blue
relevance: 0.695, title:Solo: A Star Wars Story
relevance: 0.694, title:Redemption (Hummingbird)
relevance: 0.691, title:Comic-Con Episode IV: A Fan's Hope
relevance: 0.683, title:Dark Shadows
relevance: 0.68, title:Alone in the Dark II
relevance: 0.677, title:The Star Wars Holiday Special
relevance: 0.677, title:Batman: Gotham Knight
relevance: 0.675, title:Chitty Chitty Bang Bang
relevance: 0.672, title:Holy Man

In [13]:
dist_i_R = refinedMyAlgo.calc_distance_item_in_list(item=candidates_list[24],this_list=candidates_list[0:5])
dist_i_R

0.8634217075818047

In [14]:
print(refinedMyAlgo.calc_diversity_score(actual_list=candidates_list[0:5], candidates_list=candidates_list[10:20]))

[{'div_score': 0.6400003439754277, 'idx': 0}, {'div_score': 0.7894240238852528, 'idx': 1}, {'div_score': 0.7484724100424557, 'idx': 2}, {'div_score': 0.8367458299867431, 'idx': 3}, {'div_score': 0.8454999999999999, 'idx': 4}, {'div_score': 0.7623896857546567, 'idx': 5}, {'div_score': 0.7449984560299496, 'idx': 6}, {'div_score': 0.7851547503872609, 'idx': 7}, {'div_score': 0.7404984560299497, 'idx': 8}, {'div_score': 0.7404984560299497, 'idx': 9}]

In [13]:
my_candidates = candidates_list.copy()
final_recs = refinedMyAlgo.diversify_recs_list(recs=my_candidates)
for item in final_recs:
    print('relevance: {}, title:{}'.format(item['movie_relevance'], item['movie_title']))

relevance: 0.763, title:Batman: The Dark Knight Returns, Part 2
relevance: 0.759, title:Logan Lucky
relevance: 0.72, title:Kiss of Death
relevance: 0.691, title:Comic-Con Episode IV: A Fan's Hope
relevance: 0.742, title:Big Bang, The
relevance: 0.695, title:Solo: A Star Wars Story
relevance: 0.744, title:Cry in the Dark, A
relevance: 0.706, title:Undisputed III: Redemption
relevance: 0.672, title:Holy Man
relevance: 0.656, title:Ring, The

In [16]:
refinedMyAlgo.get_ILD_score(final_recs, title_weight=0.8)

0.9683581044592141