In [1]:
'''
# # Link to MoviePoster dataset:
    https://www.cs.ccu.edu.tw/~wtchu/projects/MoviePoster/
    https://www.kaggle.com/neha1703/movie-genre-from-its-poster

'''

from collections import defaultdict
import pandas as pd
import numpy as np
import json

In [3]:
movie_data = '../datasets/ml-latest-small/movies.csv'
#  names=['movieId', 'movieId', 'rating','timestamp']
df_movies = pd.read_csv(movie_data, low_memory=False)
df_movies['year'] = df_movies['title'].apply(lambda x: x[-5:-1])
df_movies['title'] = df_movies['title'].apply(lambda x: x[:-7])
df_movies['genres'] = df_movies['genres'].apply(lambda x: x.replace('|',', '))
df_movies.tail()

,movieId,title,genres,year
9737,193581,Black Butler: Book of the Atlantic,"Action, Animation, Comedy, Fantasy",2017
9738,193583,No Game No Life: Zero,"Animation, Comedy, Fantasy",2017
9739,193585,Flint,Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple,"Action, Animation",2018
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,1991

In [22]:
link_data = '../datasets/ml-latest-small/links.csv'
df_links = pd.read_csv(link_data, low_memory=False)
poster_data = '../datasets/movie_poster/MovieGenre.csv'
df_posters = pd.read_csv(poster_data, low_memory=False, encoding='latin-1')
youtube_data = '../datasets/ml-youtube.csv'
df_youtube = pd.read_csv(youtube_data, low_memory=False)


df_movies['imdbId'] = df_links['imdbId']
df_movies['imdbLink'] = 'None'
df_movies['poster'] = 'None'
df_movies['youtubeId'] = 'None'


for index, row in df_movies.iterrows():
    if not df_posters[df_posters['imdbId']==row.imdbId].empty:
        idx_df_posters = int(df_posters[df_posters['imdbId']==row.imdbId].index[0])
        idx_df_movies = int(df_movies[df_movies['imdbId']==row.imdbId].index[0])

        df_movies.loc[idx_df_movies,('imdbLink')] = df_posters.loc[idx_df_posters,('Imdb Link')]
        df_movies.loc[idx_df_movies,('poster')] = df_posters.loc[idx_df_posters,('Poster')]
    
    
    if not df_youtube[df_youtube['movieId']==row.movieId].empty:
        idx_df_youtube = int(df_youtube[df_youtube['movieId']==row.movieId].index[0])
        idx_df_movies = int(df_movies[df_movies['movieId']==row.movieId].index[0])

        df_movies.loc[idx_df_movies,('youtubeId')] = df_youtube.loc[idx_df_youtube,('youtubeId')]


df_movies.head(10)

,movieId,title,genres,year,imdbId,imdbLink,poster,youtubeId
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995,114709,http://www.imdb.com/title/tt114709,https://images-na.ssl-images-amazon.com/images...,K26_sDKnvMU
1,2,Jumanji,"Adventure, Children, Fantasy",1995,113497,http://www.imdb.com/title/tt113497,https://images-na.ssl-images-amazon.com/images...,3LPANjHlPxo
2,3,Grumpier Old Men,"Comedy, Romance",1995,113228,http://www.imdb.com/title/tt113228,https://images-na.ssl-images-amazon.com/images...,rEnOoWs3FuA
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995,114885,http://www.imdb.com/title/tt114885,https://images-na.ssl-images-amazon.com/images...,j9xml1CxgXI
4,5,Father of the Bride Part II,Comedy,1995,113041,http://www.imdb.com/title/tt113041,https://images-na.ssl-images-amazon.com/images...,ltwvKLnj1B4
5,6,Heat,"Action, Crime, Thriller",1995,113277,http://www.imdb.com/title/tt113277,https://images-na.ssl-images-amazon.com/images...,2GfZl4kuVNI
6,7,Sabrina,"Comedy, Romance",1995,114319,http://www.imdb.com/title/tt114319,https://images-na.ssl-images-amazon.com/images...,twTksx_lWB4
7,8,Tom and Huck,"Adventure, Children",1995,112302,http://www.imdb.com/title/tt112302,https://images-na.ssl-images-amazon.com/images...,-C-xXZyX2zU
8,9,Sudden Death,Action,1995,114576,http://www.imdb.com/title/tt114576,https://images-na.ssl-images-amazon.com/images...,SCOxEKkuWG4
9,10,GoldenEye,"Action, Adventure, Thriller",1995,113189,http://www.imdb.com/title/tt113189,https://images-na.ssl-images-amazon.com/images...,lcOqUE0u1LM

In [24]:
df_movies.to_csv('../datasets/enhanced_movies.csv', index=False)

In [4]:
metadata = pd.read_csv('../datasets/ml-latest-small/ratings.csv', low_memory=False, names=['userId', 'movieId', 'rating','timestamp'])
metadata = metadata.drop(columns="timestamp")
# metadata.head()
metadata.to_csv('../datasets/ml-latest-parsed.csv', header=False, index=False)

In [25]:
# link_data = 'datasets/ml-latest-small/links.csv'
# df_links = pd.read_csv(link_data, low_memory=False)
# df_links.tail()

In [26]:
# for index, row in df_movies.head().iterrows():
# #     Getting index by movieId
#     idx_df_links = int(df_links[df_links['movieId']==row.movieId].index[0])
#     idx_df_movies = int(df_movies[df_movies['movieId']==row.movieId].index[0])
#     print('Row.movieId: {}\nIdx: {}\n'.format(row.movieId, this_idx))
#     print(df_links.loc[idx_df_links])
#     print('\n')
#     df_movies.loc[idx_df_movies,('imdbId')] = df_links.loc[idx_df_links,('imdbId')]

In [27]:
# df_movies['imdbId'] = df_links['imdbId']
# df_movies.head()

In [28]:
# df_movies['imdbLink'] = 'None'
# df_movies['poster'] = 'None'
# df_movies.head()

In [29]:
# poster_data = 'datasets/movie_poster/MovieGenre.csv'
# df_posters = pd.read_csv(poster_data, low_memory=False, encoding='latin-1')
# df_posters.head()

In [30]:
# #17271 in df_posters['imdbId']

In [31]:
# #df_posters[df_posters['imdbId']==1347439].empty

In [32]:
# for index, row in df_movies.iterrows():
#     if not df_posters[df_posters['imdbId']==row.imdbId].empty:
#         idx_df_posters = int(df_posters[df_posters['imdbId']==row.imdbId].index[0])
#         idx_df_movies = int(df_movies[df_movies['imdbId']==row.imdbId].index[0])

#         df_movies.loc[idx_df_movies,('imdbLink')] = df_posters.loc[idx_df_posters,('Imdb Link')]
#         df_movies.loc[idx_df_movies,('poster')] = df_posters.loc[idx_df_posters,('Poster')]

In [33]:
# df_movies.head()

In [34]:
# youtube_data = 'datasets/ml-youtube.csv'
# df_youtube = pd.read_csv(youtube_data, low_memory=False)
# df_youtube.head()

In [35]:
# df_movies['youtubeId'] = 'None'
# df_movies.head()

In [36]:
# for index, row in df_movies.iterrows():
# #     print(index)
# #     print(row.movieId)
#     if not df_youtube[df_youtube['movieId']==row.movieId].empty:
#         idx_df_youtube = int(df_youtube[df_youtube['movieId']==row.movieId].index[0])
#         idx_df_movies = int(df_movies[df_movies['movieId']==row.movieId].index[0])

#         df_movies.loc[idx_df_movies,('youtubeId')] = df_youtube.loc[idx_df_youtube,('youtubeId')]
    
# df_movies.tail()

In [37]:
# df_youtube[df_youtube['movieId']==285].empty