In [1]:
from collections import defaultdict
import pandas as pd
import numpy as np
import json

In [2]:
exp_data = '../datasets/output_11_09_2020.csv'
df_exp = pd.read_csv(exp_data, low_memory=False)
df_exp.head(10)

   userId  movieId  rating
0       2      253     4.0
1       2      111     5.0
2       2      288     3.0
3       2       16     5.0
4       2     1101     2.0
5       2        1     5.0
6       2      788     2.0
7       2     1196     4.5
8       2       47     5.0
9       2      442     1.5

In [3]:
for index, row in df_exp.iterrows():
    df_exp.loc[index, 'userId'] += 700
    
df_exp.head(10)

   userId  movieId  rating
0     702      253     4.0
1     702      111     5.0
2     702      288     3.0
3     702       16     5.0
4     702     1101     2.0
5     702        1     5.0
6     702      788     2.0
7     702     1196     4.5
8     702       47     5.0
9     702      442     1.5

In [4]:
df_exp.to_csv('../datasets/output_exp_settled.csv', index=False)

In [5]:
exp_data = '../datasets/output_exp_settled.csv'
df_exp = pd.read_csv(exp_data, low_memory=False)
df_exp['timestamp'] = 0
df_exp.head()

   userId  movieId  rating  timestamp
0     702      253     4.0          0
1     702      111     5.0          0
2     702      288     3.0          0
3     702       16     5.0          0
4     702     1101     2.0          0

In [6]:
df_exp.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [7]:
ratings_data = '../datasets/ml-latest-small/ratings.csv'
df_ratings = pd.read_csv(ratings_data, low_memory=False, names=['userId', 'movieId', 'rating','timestamp'])
# df_ratings = df_ratings.drop(columns="timestamp")
df_ratings.tail()

        userId  movieId  rating  timestamp
101517     726      380     4.5          0
101518     726      588     4.0          0
101519     726      592     3.5          0
101520     726      858     2.0          0
101521     726     1210     5.0          0

In [8]:
df_ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [9]:
bla = df_ratings.append(df_exp, ignore_index=True)
bla.tail()

        userId  movieId  rating  timestamp
102203     726      380     4.5          0
102204     726      588     4.0          0
102205     726      592     3.5          0
102206     726      858     2.0          0
102207     726     1210     5.0          0

In [10]:
len(bla)

102208

In [11]:
bla.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [12]:
bla.to_csv('../datasets/ratings_full.csv', index=False)