In [1]:
'''
# # Link to MoviePoster dataset:
    https://www.cs.ccu.edu.tw/~wtchu/projects/MoviePoster/
    https://www.kaggle.com/neha1703/movie-genre-from-its-poster
    
# # Link to IMDb dataset:
    https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset/data

'''

from collections import defaultdict
import pandas as pd
import numpy as np
import json

In [4]:
movie_data = '../datasets/ml-latest-small/movies.csv'
#  names=['movieId', 'movieId', 'rating','timestamp']
df_movies = pd.read_csv(movie_data, low_memory=False)
df_movies['year'] = df_movies['title'].apply(lambda x: x[-5:-1])
df_movies['title'] = df_movies['title'].apply(lambda x: x[:-7])
df_movies['genres'] = df_movies['genres'].apply(lambda x: x.replace('|',', '))
df_movies.tail()

,movieId,title,genres,year
9737,193581,Black Butler: Book of the Atlantic,"Action, Animation, Comedy, Fantasy",2017
9738,193583,No Game No Life: Zero,"Animation, Comedy, Fantasy",2017
9739,193585,Flint,Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple,"Action, Animation",2018
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,1991

In [33]:
# imdb_data = '../datasets/imdb_movies/IMDb_movies.csv'
# df_imdb = pd.read_csv(imdb_data, low_memory=False)
# df_imdb['imdb_title_id'] = df_imdb['imdb_title_id'].apply(lambda x: x[2:])
# df_imdb.head()

In [34]:
# len(df_imdb)

In [35]:
# link_data = '../datasets/ml-latest-small/links.csv'
# df_links = pd.read_csv(link_data, low_memory=False)
# df_movies['imdbId'] = df_links['imdbId']


# df_movies['description'] = 'None'

# for index, row in df_movies.iterrows():
#     if not df_imdb[df_imdb['imdb_title_id']==row.imdbId].empty:
#         idx_df_imdb = int(df_imdb[df_imdb['imdb_title_id']==row.imdbId].index[0])
#         idx_df_movies = int(df_movies[df_movies['imdbId']==row.imdbId].index[0])

#         df_movies.loc[idx_df_movies,('description')] = df_imdb.loc[df_imdb,('description')]
# #         df_movies.loc[idx_df_movies,('poster')] = df_posters.loc[idx_df_posters,('Poster')]

# df_movies.head(10)

In [22]:
link_data = '../datasets/ml-latest-small/links.csv'
df_links = pd.read_csv(link_data, low_memory=False)
poster_data = '../datasets/movie_poster/MovieGenre.csv'
df_posters = pd.read_csv(poster_data, low_memory=False, encoding='latin-1')
youtube_data = '../datasets/ml-youtube.csv'
df_youtube = pd.read_csv(youtube_data, low_memory=False)


df_movies['imdbId'] = df_links['imdbId']
df_movies['imdbLink'] = 'None'
df_movies['poster'] = 'None'
df_movies['youtubeId'] = 'None'


for index, row in df_movies.iterrows():
    if not df_posters[df_posters['imdbId']==row.imdbId].empty:
        idx_df_posters = int(df_posters[df_posters['imdbId']==row.imdbId].index[0])
        idx_df_movies = int(df_movies[df_movies['imdbId']==row.imdbId].index[0])

        df_movies.loc[idx_df_movies,('imdbLink')] = df_posters.loc[idx_df_posters,('Imdb Link')]
        df_movies.loc[idx_df_movies,('poster')] = df_posters.loc[idx_df_posters,('Poster')]
    
    
    if not df_youtube[df_youtube['movieId']==row.movieId].empty:
        idx_df_youtube = int(df_youtube[df_youtube['movieId']==row.movieId].index[0])
        idx_df_movies = int(df_movies[df_movies['movieId']==row.movieId].index[0])

        df_movies.loc[idx_df_movies,('youtubeId')] = df_youtube.loc[idx_df_youtube,('youtubeId')]


df_movies.head(10)

,movieId,title,genres,year,imdbId,imdbLink,poster,youtubeId
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995,114709,http://www.imdb.com/title/tt114709,https://images-na.ssl-images-amazon.com/images...,K26_sDKnvMU
1,2,Jumanji,"Adventure, Children, Fantasy",1995,113497,http://www.imdb.com/title/tt113497,https://images-na.ssl-images-amazon.com/images...,3LPANjHlPxo
2,3,Grumpier Old Men,"Comedy, Romance",1995,113228,http://www.imdb.com/title/tt113228,https://images-na.ssl-images-amazon.com/images...,rEnOoWs3FuA
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995,114885,http://www.imdb.com/title/tt114885,https://images-na.ssl-images-amazon.com/images...,j9xml1CxgXI
4,5,Father of the Bride Part II,Comedy,1995,113041,http://www.imdb.com/title/tt113041,https://images-na.ssl-images-amazon.com/images...,ltwvKLnj1B4
5,6,Heat,"Action, Crime, Thriller",1995,113277,http://www.imdb.com/title/tt113277,https://images-na.ssl-images-amazon.com/images...,2GfZl4kuVNI
6,7,Sabrina,"Comedy, Romance",1995,114319,http://www.imdb.com/title/tt114319,https://images-na.ssl-images-amazon.com/images...,twTksx_lWB4
7,8,Tom and Huck,"Adventure, Children",1995,112302,http://www.imdb.com/title/tt112302,https://images-na.ssl-images-amazon.com/images...,-C-xXZyX2zU
8,9,Sudden Death,Action,1995,114576,http://www.imdb.com/title/tt114576,https://images-na.ssl-images-amazon.com/images...,SCOxEKkuWG4
9,10,GoldenEye,"Action, Adventure, Thriller",1995,113189,http://www.imdb.com/title/tt113189,https://images-na.ssl-images-amazon.com/images...,lcOqUE0u1LM

In [24]:
df_movies.to_csv('../datasets/enhanced_movies.csv', index=False)

In [5]:
enhanced_movies_data = '../datasets/enhanced_movies.csv'
df_enhanced_movies = pd.read_csv(enhanced_movies_data, low_memory=False)
df_enhanced_movies.head()

,movieId,title,genres,year,imdbId,imdbLink,poster,youtubeId
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995,114709,http://www.imdb.com/title/tt114709,https://images-na.ssl-images-amazon.com/images...,K26_sDKnvMU
1,2,Jumanji,"Adventure, Children, Fantasy",1995,113497,http://www.imdb.com/title/tt113497,https://images-na.ssl-images-amazon.com/images...,3LPANjHlPxo
2,3,Grumpier Old Men,"Comedy, Romance",1995,113228,http://www.imdb.com/title/tt113228,https://images-na.ssl-images-amazon.com/images...,rEnOoWs3FuA
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995,114885,http://www.imdb.com/title/tt114885,https://images-na.ssl-images-amazon.com/images...,j9xml1CxgXI
4,5,Father of the Bride Part II,Comedy,1995,113041,http://www.imdb.com/title/tt113041,https://images-na.ssl-images-amazon.com/images...,ltwvKLnj1B4

In [12]:
grouped_tags_data = '../datasets/grouped_tags.csv'
df_grouped_tags = pd.read_csv(grouped_tags_data, low_memory=False)
df_grouped_tags.head()


df_enhanced_movies['tags'] = 'None'

for index, row in df_enhanced_movies.iterrows():
    
    if not df_grouped_tags[df_grouped_tags['movieId']==row.movieId].empty:
        
        idx_grouped_tags = int(df_grouped_tags[df_grouped_tags['movieId']==row.movieId].index[0])
        idx_enhanced_movies = int(df_enhanced_movies[df_enhanced_movies['movieId']==row.movieId].index[0])

        df_enhanced_movies.loc[idx_enhanced_movies,('tags')] = df_grouped_tags.loc[idx_grouped_tags,('tags')]
        
df_enhanced_movies.tail()

,movieId,title,genres,year,imdbId,imdbLink,poster,youtubeId,tags
9737,193581,Black Butler: Book of the Atlantic,"Action, Animation, Comedy, Fantasy",2017,5476944,None,None,None,None
9738,193583,No Game No Life: Zero,"Animation, Comedy, Fantasy",2017,5914996,None,None,None,None
9739,193585,Flint,Drama,2017,6397426,None,None,None,None
9740,193587,Bungo Stray Dogs: Dead Apple,"Action, Animation",2018,8391976,None,None,None,None
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,1991,101726,None,None,None,None

In [13]:
df_enhanced_movies.to_csv('../datasets/enhanced_movies_tags.csv', index=False)

In [2]:
my_movies = '../datasets/enhanced_movies_tags.csv'
df_my_movies = pd.read_csv(my_movies, low_memory=False)
df_my_movies.head()

,movieId,title,genres,year,imdbId,imdbLink,poster,youtubeId,tags
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995,114709,http://www.imdb.com/title/tt114709,https://images-na.ssl-images-amazon.com/images...,K26_sDKnvMU,"['pixar', 'pixar', 'fun']"
1,2,Jumanji,"Adventure, Children, Fantasy",1995,113497,http://www.imdb.com/title/tt113497,https://images-na.ssl-images-amazon.com/images...,3LPANjHlPxo,"['fantasy', 'magic board game', 'Robin William..."
2,3,Grumpier Old Men,"Comedy, Romance",1995,113228,http://www.imdb.com/title/tt113228,https://images-na.ssl-images-amazon.com/images...,rEnOoWs3FuA,"['moldy', 'old']"
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995,114885,http://www.imdb.com/title/tt114885,https://images-na.ssl-images-amazon.com/images...,j9xml1CxgXI,None
4,5,Father of the Bride Part II,Comedy,1995,113041,http://www.imdb.com/title/tt113041,https://images-na.ssl-images-amazon.com/images...,ltwvKLnj1B4,"['pregnancy', 'remake']"

In [10]:
def read_as_json(file_name):
    with open(file_name) as json_file:
        data = json.load(json_file)
    return data

In [20]:
descrip = read_as_json('Descritive_Analyze/all.json')
print(descrip[0])

{'movieId': 1, 'ratings': [4.0, 4.0, 4.5, 2.5, 4.5, 3.5, 4.0, 3.5, 3.0, 5.0, 3.0, 3.0, 5.0, 5.0, 3.0, 4.0, 5.0, 3.0, 3.0, 5.0, 5.0, 4.0, 4.0, 2.5, 5.0, 4.5, 0.5, 4.0, 2.5, 4.0, 3.0, 3.0, 4.0, 3.0, 5.0, 4.5, 4.0, 4.0, 3.0, 3.5, 4.0, 4.0, 3.0, 2.0, 3.0, 4.0, 4.0, 3.0, 4.0, 3.5, 5.0, 5.0, 2.0, 3.0, 4.0, 4.5, 4.0, 4.0, 5.0, 3.5, 4.5, 5.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 2.0, 3.5, 5.0, 4.0, 5.0, 3.5, 3.0, 3.0, 4.0, 3.5, 5.0, 3.5, 3.5, 5.0, 3.5, 3.0, 5.0, 4.0, 5.0, 5.0, 4.0, 4.5, 4.5, 4.0, 4.0, 2.0, 5.0, 5.0, 5.0, 4.0, 5.0, 4.0, 4.0, 3.0, 4.5, 4.5, 3.0, 4.5, 4.0, 4.0, 4.0, 3.0, 2.0, 5.0, 4.0, 3.0, 3.5, 3.5, 5.0, 4.0, 4.0, 3.5, 4.0, 4.0, 4.0, 5.0, 5.0, 4.0, 5.0, 5.0, 4.0, 5.0, 5.0, 3.0, 3.0, 4.5, 5.0, 3.5, 4.5, 4.0, 5.0, 3.0, 5.0, 4.0, 3.5, 5.0, 2.0, 4.0, 4.0, 4.0, 2.5, 4.0, 4.0, 4.5, 4.0, 5.0, 5.0, 5.0, 5.0, 4.5, 1.5, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 3.0, 4.0, 4.5, 4.5, 3.5, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 3.0, 4.0, 4.0, 2.5, 3.0, 5.0, 4.0, 3.0, 3.0, 4.0, 4.0, 5.0, 3.0, 4.0, 4.5, 3.5, 4.0, 4.0, 5.0, 4.0, 3.0, 5.0, 5.0, 4.0, 4.0, 4.0, 3.0, 2.5, 4.0, 4.0, 3.0, 4.0, 2.5, 4.0, 2.5, 3.0, 5.0], 'counter': 215, 'acc': 843.0, 'mean': 3.9209302325581397, 'median': 4.0, 'mode': 4.0, 'desvio': 0.8348591407114047}

In [21]:
df_descript = df_G1 = pd.DataFrame.from_dict(descrip)
df_descript.head()

,movieId,ratings,counter,acc,mean,median,mode,desvio
0,1,"[4.0, 4.0, 4.5, 2.5, 4.5, 3.5, 4.0, 3.5, 3.0, ...",215,843.0,3.92093,4,4,0.834859
1,2,"[4.0, 4.0, 3.0, 3.0, 3.0, 3.5, 4.0, 4.5, 4.0, ...",110,377.5,3.43182,3.5,4,0.881713
2,3,"[4.0, 5.0, 3.0, 3.0, 4.0, 5.0, 3.0, 4.0, 3.0, ...",52,169.5,3.25962,3,3,1.05482
3,4,"[3.0, 3.0, 3.0, 3.0, 1.0, 2.0, 1.5]",7,16.5,2.35714,3,3,0.852168
4,5,"[5.0, 3.0, 5.0, 3.0, 4.0, 4.0, 2.0, 3.0, 4.0, ...",49,150.5,3.07143,3,3,0.907148

In [ ]:
df_my_movies['r_counter'] = 'None'

for index, row in df_my_movies.iterrows():
   
    idx_df_descript = int(df_descript[df_descript['movieId']==row.movieId].index[0])
    idx_df_my_movies = int(df_my_movies[df_my_movies['movieId']==row.movieId].index[0])

    df_my_movies.loc[idx_df_my_movies,('youtubeId')] = df_descript.loc[idx_df_descript,('youtubeId')]
    
    print(row.movieId)

In [15]:
"""
Serão definidos 5 Grupos de filmes, tal que:

    G1, filmes bastante avaliados, tq, ratings(G1) > 100
    G2, filmes muito avaliados, tq, 100 >= ratings(G2) > 50
    G3, filmes razoavelmente avaliados, tq, 50 >= ratings(G3) > 20
    G4, filmes pouco avaliados, tq, 20 >= ratings(G4) > 5
    G5, filmes pouqíssimo avaliados, tq, 5 >= ratings(G5)
"""

G1 = []
G2 = []
G3 = []
G4 = []
G5 = []

for item in descrip:
    if item['counter'] > 100:
        G1.append(item)
    elif 100 >= item['counter'] > 50:
        G2.append(item)
    elif 50 >= item['counter'] > 20:
        G3.append(item)
    elif 20 >= item['counter'] > 5:
        G4.append(item)
    else:
        G5.append(item)
        
print("Tamanho dos grupos: G1={}, G2={}, G3={}, G4={} e G5={}".format(len(G1), len(G2), len(G3), len(G4), len(G5)))

Tamanho dos grupos: G1=134, G2=302, G3=799, G4=2033 e G5=6474

In [18]:
print(G1[0])

{'movieId': 1, 'ratings': [4.0, 4.0, 4.5, 2.5, 4.5, 3.5, 4.0, 3.5, 3.0, 5.0, 3.0, 3.0, 5.0, 5.0, 3.0, 4.0, 5.0, 3.0, 3.0, 5.0, 5.0, 4.0, 4.0, 2.5, 5.0, 4.5, 0.5, 4.0, 2.5, 4.0, 3.0, 3.0, 4.0, 3.0, 5.0, 4.5, 4.0, 4.0, 3.0, 3.5, 4.0, 4.0, 3.0, 2.0, 3.0, 4.0, 4.0, 3.0, 4.0, 3.5, 5.0, 5.0, 2.0, 3.0, 4.0, 4.5, 4.0, 4.0, 5.0, 3.5, 4.5, 5.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 2.0, 3.5, 5.0, 4.0, 5.0, 3.5, 3.0, 3.0, 4.0, 3.5, 5.0, 3.5, 3.5, 5.0, 3.5, 3.0, 5.0, 4.0, 5.0, 5.0, 4.0, 4.5, 4.5, 4.0, 4.0, 2.0, 5.0, 5.0, 5.0, 4.0, 5.0, 4.0, 4.0, 3.0, 4.5, 4.5, 3.0, 4.5, 4.0, 4.0, 4.0, 3.0, 2.0, 5.0, 4.0, 3.0, 3.5, 3.5, 5.0, 4.0, 4.0, 3.5, 4.0, 4.0, 4.0, 5.0, 5.0, 4.0, 5.0, 5.0, 4.0, 5.0, 5.0, 3.0, 3.0, 4.5, 5.0, 3.5, 4.5, 4.0, 5.0, 3.0, 5.0, 4.0, 3.5, 5.0, 2.0, 4.0, 4.0, 4.0, 2.5, 4.0, 4.0, 4.5, 4.0, 5.0, 5.0, 5.0, 5.0, 4.5, 1.5, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 3.0, 4.0, 4.5, 4.5, 3.5, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 3.0, 4.0, 4.0, 2.5, 3.0, 5.0, 4.0, 3.0, 3.0, 4.0, 4.0, 5.0, 3.0, 4.0, 4.5, 3.5, 4.0, 4.0, 5.0, 4.0, 3.0, 5.0, 5.0, 4.0, 4.0, 4.0, 3.0, 2.5, 4.0, 4.0, 3.0, 4.0, 2.5, 4.0, 2.5, 3.0, 5.0], 'counter': 215, 'acc': 843.0, 'mean': 3.9209302325581397, 'median': 4.0, 'mode': 4.0, 'desvio': 0.8348591407114047}

In [19]:
df_G1 = pd.DataFrame.from_dict(G1)
df_G1.head()

,movieId,ratings,counter,acc,mean,median,mode,desvio
0,1,"[4.0, 4.0, 4.5, 2.5, 4.5, 3.5, 4.0, 3.5, 3.0, ...",215,843.0,3.920930,4.0,4.0,0.834859
1,2,"[4.0, 4.0, 3.0, 3.0, 3.0, 3.5, 4.0, 4.5, 4.0, ...",110,377.5,3.431818,3.5,4.0,0.881713
2,6,"[4.0, 4.0, 5.0, 4.0, 4.0, 4.5, 3.5, 3.0, 3.0, ...",102,402.5,3.946078,4.0,4.0,0.817224
3,10,"[3.0, 2.0, 3.0, 2.0, 5.0, 3.0, 4.0, 5.0, 5.0, ...",132,461.5,3.496212,3.5,3.0,0.859381
4,32,"[2.0, 4.0, 3.0, 4.0, 4.0, 4.0, 3.5, 3.5, 3.5, ...",177,705.0,3.983051,4.0,4.0,0.790387

In [8]:
df_sorted = df_my_movies.sort_values(by=['year'], ascending=False)
df_sorted.head(20)

,movieId,title,genres,year,imdbId,imdbLink,poster,youtubeId,tags
9525,171891,Generation,(no genres listed),ron,6263642,None,None,None,None
9031,140956,Ready Pla,"Action, Sci-Fi, Thriller",r On,1677720,http://www.imdb.com/title/tt1677720,NaN,None,None
9514,171495,NaN,(no genres listed),osmo,81846,http://www.imdb.com/title/tt81846,https://images-na.ssl-images-amazon.com/images...,None,None
6059,40697,Ba,Sci-Fi,lon,105946,http://www.imdb.com/title/tt105946,https://images-na.ssl-images-amazon.com/images...,None,None
9367,162414,Mo,Drama,ligh,4975722,None,None,None,None
9611,176601,Black,(no genres listed),irro,2492564,None,None,None,None
9179,149334,Nocturnal,"Drama, Thriller",imal,4550098,http://www.imdb.com/title/tt4550098,https://images-na.ssl-images-amazon.com/images...,None,None
9448,167570,NaN,(no genres listed),he O,4635282,None,None,None,None
9259,156605,P,(no genres listed),erso,5247022,http://www.imdb.com/title/tt5247022,https://images-na.ssl-images-amazon.com/images...,None,"['quirky', 'sweet', 'understated']"
9138,147250,The Adventures of Sherlock Holmes and Doctor,(no genres listed),atso,229922,http://www.imdb.com/title/tt229922,https://images-na.ssl-images-amazon.com/images...,None,None
5609,27008,From Dusk Till Dawn 2: Texas Blood Money,"Comedy, Crime, Horror",999),120860,http://www.imdb.com/title/tt120860,https://images-na.ssl-images-amazon.com/images...,Q-WtWhqj9xU,None
7910,95193,Pocahontas II: Journey to a New World,"Adventure, Animation, Children",998),143808,http://www.imdb.com/title/tt143808,https://images-na.ssl-images-amazon.com/images...,vkXMJaZJoak,None
7978,96608,Runaway Brain,"Animation, Comedy, Sci-Fi",995),114308,http://www.imdb.com/title/tt114308,https://images-na.ssl-images-amazon.com/images...,4SPSGQj-sUI,None
8228,104017,3 dev adam (Three Giant Men),"Action, Adventure, Sci-Fi",973),181947,http://www.imdb.com/title/tt181947,https://images-na.ssl-images-amazon.com/images...,-Lg4_QaFm_c,None
9686,184015,When We First Met,Comedy,2018,5783956,None,None,None,None
9689,184253,The Cloverfield Paradox,"Horror, Mystery, Sci-Fi, Thriller",2018,2548396,None,None,None,None
9685,183959,Tom Segura: Disgraceful,Comedy,2018,7379330,None,None,None,None
9682,183635,Maze Runner: The Death Cure,"Action, Mystery, Sci-Fi, Thriller",2018,4500922,None,None,None,None
9692,184471,Tomb Raider,"Action, Adventure, Fantasy",2018,1365519,None,None,None,"['adventure', 'Alicia Vikander', 'video game a..."
9684,183911,The Clapper,Comedy,2018,5461956,None,None,None,None

In [4]:
# metadata = pd.read_csv('../datasets/ml-latest-small/ratings.csv', low_memory=False, names=['userId', 'movieId', 'rating','timestamp'])
# metadata = metadata.drop(columns="timestamp")
# # metadata.head()
# metadata.to_csv('../datasets/ml-latest-parsed.csv', header=False, index=False)

In [1]:
# '''

# CODE RELATED TO CREATION OF grouped_tags.csv

# '''
# tags_data = '../datasets/ml-latest-small/tags.csv'
# df_tags = pd.read_csv(tags_data, low_memory=False)
# print(df_tags.head(10))


# my_dict = []

# my_df = pd.DataFrame(columns = ['movieId','tags'])

# for index, row in df_movies.iterrows():
#     aux = []
#     for index_sub, row_sub in df_tags.iterrows():
#         if row_sub.movieId == row.movieId:
#             aux.append(row_sub.tag)
            
#     if aux:
#         my_dict.append(aux)
#         my_df = my_df.append(
#             {
#                 'movieId': row.movieId,
#                 'tags': aux
#             },
#             ignore_index=True
#         )

# print(my_dict)
# print(my_df.head())

# my_df.to_csv('../datasets/grouped_tags.csv', index=False)

In [ ]:
# my_dict = []

# my_df = pd.DataFrame(columns = ['movieId','tags'])

# for index, row in df_movies.iterrows():
#     aux = []
#     for index_sub, row_sub in df_tags.iterrows():
#         if row_sub.movieId == row.movieId:
#             aux.append(row_sub.tag)
            
#     if aux:
#         my_dict.append(aux)
#         my_df = my_df.append(
#             {
#                 'movieId': row.movieId,
#                 'tags': aux
#             },
#             ignore_index=True
#         )

# print(my_dict)
# my_df.head()

In [25]:
# link_data = 'datasets/ml-latest-small/links.csv'
# df_links = pd.read_csv(link_data, low_memory=False)
# df_links.tail()

In [26]:
# for index, row in df_movies.head().iterrows():
# #     Getting index by movieId
#     idx_df_links = int(df_links[df_links['movieId']==row.movieId].index[0])
#     idx_df_movies = int(df_movies[df_movies['movieId']==row.movieId].index[0])
#     print('Row.movieId: {}\nIdx: {}\n'.format(row.movieId, this_idx))
#     print(df_links.loc[idx_df_links])
#     print('\n')
#     df_movies.loc[idx_df_movies,('imdbId')] = df_links.loc[idx_df_links,('imdbId')]

In [27]:
# df_movies['imdbId'] = df_links['imdbId']
# df_movies.head()

In [28]:
# df_movies['imdbLink'] = 'None'
# df_movies['poster'] = 'None'
# df_movies.head()

In [29]:
# poster_data = 'datasets/movie_poster/MovieGenre.csv'
# df_posters = pd.read_csv(poster_data, low_memory=False, encoding='latin-1')
# df_posters.head()

In [30]:
# #17271 in df_posters['imdbId']

In [31]:
# #df_posters[df_posters['imdbId']==1347439].empty

In [32]:
# for index, row in df_movies.iterrows():
#     if not df_posters[df_posters['imdbId']==row.imdbId].empty:
#         idx_df_posters = int(df_posters[df_posters['imdbId']==row.imdbId].index[0])
#         idx_df_movies = int(df_movies[df_movies['imdbId']==row.imdbId].index[0])

#         df_movies.loc[idx_df_movies,('imdbLink')] = df_posters.loc[idx_df_posters,('Imdb Link')]
#         df_movies.loc[idx_df_movies,('poster')] = df_posters.loc[idx_df_posters,('Poster')]

In [33]:
# df_movies.head()

In [34]:
# youtube_data = 'datasets/ml-youtube.csv'
# df_youtube = pd.read_csv(youtube_data, low_memory=False)
# df_youtube.head()

In [35]:
# df_movies['youtubeId'] = 'None'
# df_movies.head()

In [36]:
# for index, row in df_movies.iterrows():
# #     print(index)
# #     print(row.movieId)
#     if not df_youtube[df_youtube['movieId']==row.movieId].empty:
#         idx_df_youtube = int(df_youtube[df_youtube['movieId']==row.movieId].index[0])
#         idx_df_movies = int(df_movies[df_movies['movieId']==row.movieId].index[0])

#         df_movies.loc[idx_df_movies,('youtubeId')] = df_youtube.loc[idx_df_youtube,('youtubeId')]
    
# df_movies.tail()

In [37]:
# df_youtube[df_youtube['movieId']==285].empty