In [7]:
import pandas as pd
from scipy.sparse import csr_matrix
from pandas.api.types import CategoricalDtype
from surprise import Reader, Dataset
from myAlgo import MyAlgo

In [2]:
metadata = pd.read_csv('ml-latest-small/ratings.csv', low_memory=False)

In [3]:
metadata.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
user = CategoricalDtype(sorted(metadata.userId.unique()), ordered=True)
movie = CategoricalDtype(sorted(metadata.movieId.unique()), ordered=True)

In [5]:
user

CategoricalDtype(categories=[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
                  ...
                  601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
                 ordered=True)

In [6]:
movie

CategoricalDtype(categories=[     1,      2,      3,      4,      5,      6,      7,
                       8,      9,     10,
                  ...
                  193565, 193567, 193571, 193573, 193579, 193581, 193583,
                  193585, 193587, 193609],
                 ordered=True)

In [7]:
row = metadata.userId.astype(user).cat.codes
col = metadata.movieId.astype(movie).cat.codes
sparse_matrix = csr_matrix((metadata["rating"], (row, col)), shape=(user.categories.size, movie.categories.size))

sparse_mtx = pd.SparseDataFrame(sparse_matrix, \
                         index=user.categories, \
                         columns=movie.categories, \
                         default_fill_value=0)

In [9]:
sparse_mtx.head()

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# # First list is related to userId. Second list is related to movieID
sparse_mtx.loc[[77,596,442,243,420],[1, 110, 480]]

     1    110  480
77   0.0  0.0  0.0
596  4.0  0.0  0.0
442  0.0  0.0  0.0
243  0.0  0.0  0.0
420  4.0  0.0  3.5

In [8]:
bla = MyAlgo('ml-latest-small/ratings.csv')

In [10]:
bla.t