In [1]:
import pandas as pd
from scipy.sparse import csr_matrix
from pandas.api.types import CategoricalDtype
from surprise import Reader, Dataset
from myAlgo import MyAlgo

In [2]:
metadata = pd.read_csv('ml-latest-small/ratings.csv', low_memory=False, names=['userId', 'movieId', 'rating', 'timestamp'])

In [3]:
type(metadata)

pandas.core.frame.DataFrame

In [4]:
metadata.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
metadata.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
user_ids = metadata['userId'].unique()
movie_ids = metadata['movieId'].unique()

In [17]:
dataframe = pd.pivot_table(metadata, values='rating', index=['userId'], columns=['movieId'], fill_value=0)
dataframe.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0

In [14]:
# dataframe = pd.DataFrame(index=user_ids, columns=movie_ids)

In [15]:
# row = metadata.userId.astype(user).cat.codes
# col = metadata.movieId.astype(movie).cat.codes

# sparse_matrix = csr_matrix((metadata["rating"], (row, col)), shape=(user.categories.size, movie.categories.size))

# sparse_mtx = pd.SparseDataFrame(sparse_matrix, \
#                          index=user.categories, \
#                          columns=movie.categories, \
#                          default_fill_value=0)

In [19]:
# # First list is related to userId. Second list is related to movieID
group_sparse_mtx = dataframe.loc[[77,596,442,243,420],[1, 110, 480]]
group_sparse_mtx

movieId  1    110  480
userId
77       0.0  0.0  0.0
596      4.0  0.0  0.0
442      0.0  0.0  0.0
243      0.0  0.0  0.0
420      4.0  0.0  3.5

In [2]:
bla = MyAlgo('ml-latest-small/ratings.csv')

In [3]:
bla.setK(2)

Computing the cosine similarity matrix...
Done computing similarity matrix.